<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= cheat_enabled %>
      <%= message %>
    </p>

  </body>
</html>
